/*
 *= require redactor-rails
 *= redactor-rails/plugins
 */

@import "gentelella";
@import "gentelella-custom";

.no-results {
  text-align: center;
  margin: 30px auto;
}

.checkbox-item {
  display: inline-block;
  margin-right: 10px;
//  vertical-align: -1px;
//  margin-right: 5px;
input {
  margin-top: 3px;
}
 }