<div class="row top_tiles" style="margin: 10px 0;">
  <div class="col-md-4 col-sm-4 col-xs-6 tile">
    <span>总订单</span>
    <h2>11,120</h2>
    <span class="sparkline_one" style="height: 160px;">
          <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
      </span>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-6 tile">
    <span>总收入</span>
    <h2>¥ 231,809</h2>
    <span class="sparkline_one" style="height: 160px;">
          <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
      </span>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-6 tile">
    <span>总客户</span>
    <h2>10,398</h2>
    <span class="sparkline_one" style="height: 160px;">
          <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
      </span>
  </div>
</div>

<br />